@{
        ViewBag.Title = "CrearDO";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div id="app-creardo">
        <div class="container body">
            <div class="main_container">
                <div style="text-align:center"><a href="" class="section_title label_black h3"> <i class="fa fa-user"></i><span>CREAR DO</span></a></div>
                <div class="ln_solid"></div>
                <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="auto" size="mini" class="ruleForm">
                    <el-row>
                        <div>
                            <div>
                                <h1 class="section_title"><i class="el-icon-user"></i><b>Detalles Generales</b></h1>
                            </div>
                            <div class="ln_solid"></div>
                            <div>
                                <el-row :gutter="20" type="flex" class="row-bg" justify="center">
                                    <el-col :span="11">
                                        <el-form-item label="Número" prop="numero">
                                            <el-input v-model="ruleForm.numero"></el-input>
                                        </el-form-item>
                                        <el-form-item label="Cliente" prop="cliente">
                                            <autocomplete tipo="Cliente"
                                                          v-on:select="handleSelectCliente"
                                                          v-on:cargarlista="cargarClientes"
                                                          metodocargar="../api/Login/CargarDatos"
                                                          :objeto="ruleForm.cliente"></autocomplete>
                                            <button type="button" class="btn btn-success btn-xs" v-on:click="abrirseleccioncliente"><i class="ace-icon fa fa-search align-top bigger-125"></i></button>
                                        </el-form-item>
                                        <el-form-item label="Tipo de operación" prop="tipooperacion">
                                            <seleccion tipo="TipoOperacion"
                                                       metodocargar="../api/Login/CargarDatos"
                                                       :opcionseleccionada="ruleForm.tipooperacionseleccionado"
                                                       placeholder="Ingrese tipo de operación"
                                                       v-on:cargarseleccion="cargartipooperacion"
                                                       v-on:change="cambiotipooperacion">
                                            </seleccion>
                                        </el-form-item>
                                        <el-form-item label="Modo de transporte" prop="modotransporte">
                                            <seleccion tipo="ModoTransporte"
                                                       metodocargar="../api/Login/CargarDatos"
                                                       :opcionseleccionada="ruleForm.modotransporteseleccionado"
                                                       placeholder="Ingrese modo de transporte"
                                                       v-on:cargarseleccion="cargarmodotransporte"
                                                       v-on:change="cambiomodotransporte">
                                            </seleccion>
                                        </el-form-item>
                                        <el-form-item v-show="visibilidadfactorestiba" label="Factor de estiba" prop="factorestiba">
                                            <seleccion tipo="FactorEstiba"
                                                       metodocargar="../api/Login/CargarDatos"
                                                       :opcionseleccionada="ruleForm.factorestibaseleccionado"
                                                       placeholder="Ingrese Factor de estiba"
                                                       v-on:cargarseleccion="cargarfactorestiba"
                                                       v-on:change="cambiofactorestiba">
                                            </seleccion>
                                        </el-form-item>
                                        <el-form-item label="Tipo de Carga" prop="tipocarga">
                                            <seleccion tipo="TipoCarga"
                                                       metodocargar="../api/Login/CargarDatos"
                                                       :opcionseleccionada="ruleForm.tipocargaseleccionado"
                                                       placeholder="Ingrese Tipo de carga"
                                                       v-on:cargarseleccion="cargartipocarga"
                                                       v-on:change="cambiotipocarga">
                                            </seleccion>
                                        </el-form-item>
                                        <el-form-item label="Origen" prop="origen">
                                            <autocomplete tipo="Puerto"
                                                          v-on:select="handleSelectOrigen"
                                                          metodocargar="../api/Login/CargarDatos"
                                                          :objeto="ruleForm.origen"></autocomplete>
                                            <button type="button" class="btn btn-success btn-xs" v-on:click="abrirseleccionpuerto('origen')"><i class="ace-icon fa fa-search align-top bigger-125"></i></button>
                                        </el-form-item>
                                        <el-form-item label="Destino" prop="destino">
                                            <autocomplete tipo="Puerto"
                                                          v-on:select="handleSelectDestino"
                                                          v-on:cargarlista="cargarPuertos"
                                                          metodocargar="../api/Login/CargarDatos"
                                                          :objeto="ruleForm.destino"></autocomplete>
                                            <button type="button" class="btn btn-success btn-xs" v-on:click="abrirseleccionpuerto('destino')"><i class="ace-icon fa fa-search align-top bigger-125"></i></button>
                                        </el-form-item>
                                        <el-form-item label="Incoterm" prop="incoterm">
                                            <seleccion tipo="Incoterm"
                                                       metodocargar="../api/Login/CargarDatos"
                                                       :opcionseleccionada="ruleForm.incotermseleccionado"
                                                       :datoseleccion="ruleForm.incoterm"
                                                       placeholder="Ingrese Incoterm"
                                                       v-on:cargarseleccion="cargarincoterm"
                                                       v-on:change="cambioincoterm">
                                            </seleccion>
                                        </el-form-item>
                                        <el-form-item label="Entrega" prop="lugarentregaincoterm">
                                            <el-input v-model="ruleForm.lugarentregaincoterm" placeholder="Lugar Entrega Incoterm"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                            </div>
                        </div>
                    </el-row>
                    <el-row>
                        <div>
                            <div class="ln_solid"></div>
                            <el-col>
                                <el-form-item>
                                    <el-button size="small" type="success" v-on:click="creardo('ruleForm')">
                                        Crear DO
                                    </el-button>
                                    <el-button size="small" type="success" v-on:click="cancelar()">
                                        Cancelar
                                    </el-button>
                                </el-form-item>
                            </el-col>
                        </div>
                    </el-row>
                </el-form>
                <el-dialog title="Selección cliente" :visible.sync="dialogFormClienteVisible">
                    <tablaseleccion :columnas="columnatablacliente" :datos="datostablacliente" referencia="singleTable" v-on:changecurrent="changecurrentcliente"></tablaseleccion>
                    <span slot="footer" class="dialog-footer">
                        <el-button v-on:click="cancelarseleccioncliente">Cancelar</el-button>
                        <el-button type="primary" v-on:click="confirmarseleccioncliente">Seleccionar</el-button>
                    </span>
                </el-dialog>
                <el-dialog title="Selección origen" :visible.sync="dialogFormOrigenVisible">
                    <tablaseleccion :columnas="columnatablapuerto" :datos="datostablaorigen" referencia="singleTable" v-on:changecurrent="changecurrentorigen"></tablaseleccion>
                    <span slot="footer" class="dialog-footer">
                        <el-button v-on:click="cancelarseleccionorigen">Cancelar</el-button>
                        <el-button type="primary" v-on:click="confirmarseleccionorigen">Seleccionar</el-button>
                    </span>
                </el-dialog>
                <el-dialog title="Selección destino" :visible.sync="dialogFormDestinoVisible">
                    <tablaseleccion :columnas="columnatablapuerto" :datos="datostabladestino" referencia="singleTable" v-on:changecurrent="changecurrentdestino"></tablaseleccion>
                    <span slot="footer" class="dialog-footer">
                        <el-button v-on:click="cancelarselecciondestino">Cancelar</el-button>
                        <el-button type="primary" v-on:click="confirmarselecciondestino">Seleccionar</el-button>
                    </span>
                </el-dialog>
            </div>
        </div>
    </div>

    @section  scripts{
        <script src="@Url.Content("~/public/dist/js/CrearDo.js")"></script>
    }



