
@{
    ViewBag.Title = "CrearWarehouse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="app-crearwarehouse">
    <div class="container body">
        <div class="main_container">
            <div style="text-align:center"><a href="" class="section_title label_black h3"> <i class="fa fa-user"></i><span>CrearWarehouse</span></a></div>
            <div class="ln_solid"></div>
            
            
           
           
        </div>
    </div>
</div>

@section  scripts{
    <script src="@Url.Content("~/public/dist/js/CrearWarehouse.js")"></script>
}

