@*@{
        ViewBag.Title = "CrearCliente";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div id="app-crearcliente">
        <div class="container body">
            <div class="main_container">
                <div style="text-align:center"><a href="" class="section_title label_black h3"> <i class="fa fa-user"></i><span>CREAR CLIENTE</span></a></div>
                <div class="ln_solid"></div>
                <el-steps :active="activo" align-center>
                    <el-step title="Contacto" icon="el-icon-edit" description="Datos de contacto" :status="status1"></el-step>
                    <el-step title="Proveedor" icon="el-icon-picture" description="Proveedores asociados al cliente" :status="status2"></el-step>
                </el-steps>
                <div v-show="activo==1">
                    <el-form :model="ruleForm1" :rules="rules1" ref="ruleForm1" label-width="auto" size="mini" class="ruleForm">
                        <el-row>
                            <div>
                                <div>
                                    <h1 class="section_title"><i class="el-icon-user"></i><b>Detalles Generales</b></h1>
                                </div>
                                <div class="ln_solid"></div>
                                <div>
                                    <el-row :gutter="20" type="flex" class="row-bg" justify="center">
                                        <el-col :span="11">
                                            <el-form-item label="Tipo de Documento" prop="tipodocumento">
                                                <seleccion tipo="TipoDocumento"
                                                           metodocargar="../api/Login/CargarDatos"
                                                           :opcionseleccionada="ruleForm1.documentoseleccionado"
                                                           placeholder="Ingrese tipo de documento"
                                                           v-on:cargarseleccion="cargartipodocumentocliente"
                                                           v-on:change="cambiotipodocumentocliente">
                                                </seleccion>
                                            </el-form-item>
                                            <el-form-item label="Numero Documento" prop="numerodocumento">
                                                <el-input v-model="ruleForm1.numerodocumento"></el-input>
                                            </el-form-item>
                                            <el-form-item label="Razon Social" prop="razonsocial">
                                                <el-input v-model="ruleForm1.razonsocial"></el-input>
                                            </el-form-item>
                                            <el-form-item label="Pais" prop="pais">
                                                <autocomplete tipo="Pais"
                                                              v-on:select="handleSelectPaisCliente"
                                                              metodocargar="../api/Login/CargarDatos"
                                                              :objeto="ruleForm1.pais"></autocomplete>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="11">
                                            <tablaedit :datos="datotablacaracteristicacliente" :columnas="columnatablacaracteristicacliente" :datofila="datocolumnacaracteristicacliente">
                                            </tablaedit>
                                        </el-col>
                                    </el-row>
                                </div>
                            </div>
                        </el-row>
                        <el-row>
                            <div>
                                <div>
                                    <h1 class="section_title"><i class="el-icon-user"></i><b>Detalles de Contacto</b></h1>
                                </div>
                                <div class="ln_solid"></div>
                                <el-col :span="24">
                                    <tablaedit :datos="datotablacontactocliente" :columnas="columnatablacontactocliente" :datofila="datocolumnacontactocliente">
                                    </tablaedit>
                                </el-col>
                            </div>
                        </el-row>
                        <el-row>
                            <div>
                                <div class="ln_solid"></div>
                                <el-col>
                                    <el-form-item>
                                        <el-button size="small" type="success" v-on:click="siguiente('ruleForm1')">
                                            Siguiente
                                        </el-button>
                                    </el-form-item>
                                </el-col>
                            </div>
                        </el-row>
                    </el-form>
                </div>
                <div v-show="activo==2">
                    <el-form :model="ruleForm2" :rules="rules2" ref="ruleForm2" label-width="auto" size="mini" class="ruleForm">
                        <el-row>
                            <div>
                                <div>
                                    <h1 class="section_title"><i class="el-icon-user"></i><b>Detalles Generales</b></h1>
                                </div>
                                <div class="ln_solid"></div>
                                <div>
                                    <el-row :gutter="20" type="flex" class="row-bg" justify="center">
                                        <el-col :span="11">
                                            <el-form-item label="Relación con el cliente" prop="relacioncliente">
                                                <seleccion tipo="RelacionProveedorCliente"
                                                           metodocargar="../api/Login/CargarDatos"
                                                           :opcionseleccionada="ruleForm2.relacionclienteseleccionado"
                                                           placeholder="Ingrese relación cliente"
                                                           v-on:cargarseleccion="cargarrelacionproveedorcliente"
                                                           v-on:change="cambiorelacion">
                                                </seleccion>
                                            </el-form-item>
                                            <el-form-item label="Tipo de Documento" prop="tipodocumento">
                                                <seleccion tipo="TipoDocumento"
                                                           metodocargar="../api/Login/CargarDatos"
                                                           :opcionseleccionada="ruleForm2.documentoseleccionado"
                                                           placeholder="Ingrese tipo de documento"
                                                           v-on:cargarseleccion="cargartipodocumentoproveedor"
                                                           v-on:change="cambiotipodocumentoproveedor">
                                                </seleccion>
                                            </el-form-item>
                                            <el-form-item label="Numero Documento" prop="numerodocumento">
                                                <el-input v-model="ruleForm2.numerodocumento"></el-input>
                                            </el-form-item>
                                            <el-form-item label="Razon Social" prop="razonsocial">
                                                <el-input v-model="ruleForm2.razonsocial"></el-input>
                                            </el-form-item>
                                            <el-form-item label="Pais" prop="pais">
                                                <autocomplete tipo="Pais"
                                                              v-on:select="handleSelectPaisProveedor"
                                                              metodocargar="../api/Login/CargarDatos"
                                                              :objeto="ruleForm2.pais"></autocomplete>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="11">
                                            <tablaedit :datos="datotablacaracteristicaproveedor" :columnas="columnatablacaracteristicaproveedor" :datofila="datocolumnacaracteristicaproveedor">
                                            </tablaedit>
                                        </el-col>
                                    </el-row>
                                </div>
                            </div>
                        </el-row>
                        <el-row>
                            <div>
                                <div>
                                    <h1 class="section_title"><i class="el-icon-user"></i><b>Detalles de Contacto</b></h1>
                                </div>
                                <div class="ln_solid"></div>
                                <el-col :span="24">
                                    <tablaedit :datos="datotablacontactoproveedor" :columnas="columnatablacontactoproveedor" :datofila="datocolumnacontactoproveedor">
                                    </tablaedit>
                                </el-col>
                            </div>
                        </el-row>
                        <el-row>
                            <div>
                                <div class="ln_solid"></div>
                                <el-col>
                                    <el-form-item>
                                        <el-button size="small" type="success" v-on:click="adicionarotroproveedor('ruleForm2')">
                                            Adicionar otro proveedor
                                        </el-button>
                                    </el-form-item>
                                </el-col>
                            </div>
                        </el-row>
                        <el-row>
                            <div v-show="datostablaproveedor.length>0">
                                <tablainfo :columnas="columnatablaproveedores" :datos="datostablaproveedor"></tablainfo>
                            </div>
                        </el-row>
                        <el-row>
                            <div>
                                <div class="ln_solid"></div>
                                <el-col>
                                    <el-form-item>
                                        <el-button size="small" type="success" v-on:click="atras()">
                                            Atrás
                                        </el-button>
                                        <el-button size="small" type="success" v-on:click="crearcliente('ruleForm2')">
                                            Crear cliente
                                        </el-button>
                                    </el-form-item>
                                </el-col>
                            </div>
                        </el-row>
                    </el-form>
                </div>
            </div>
        </div>
    </div>*@

@*@section  scripts{
        <script src="@Url.Content("~/public/dist/js/CrearCliente.js")"></script>
    }*@

